<section layout="column"
         layout-padding>

  <md-card style="margin-left: 20%; margin-right: 20%;">
    <md-card-content>
      <h2>{{account.username}}</h2>
      <h5>{{account.first_name}} {{account.last_name}}</h5>
    </md-card-content>
  </md-card>

  <div layout="row">

    <md-card flex>
      <md-card-content>
        <h2>Proxies</h2>
        <p ng-repeat="proxie in accountProxies">{{proxie}}</p>
      </md-card-content>
    </md-card>

    <md-card flex>
      <md-card-content>
        <h2>Bids</h2>
        <p ng-repeat="bid in accountBids">{{bid}}</p>
      </md-card-content>
    </md-card>
    
  </div>

</section>