<section layout="column"
         layout-padding>

  <md-card style="margin-left: 20%; margin-right: 20%;">
    <md-card-content>
      <h2>{{proxie.proxie}}</h2>
      <md-divider ></md-divider>
      <p>{{proxie.description}}</p>
    </md-card-content>
  </md-card>


  <section style="margin-left: 10%; margin-right: 10%;">

    <md-subheader class="md-no-sticky">Bids</md-subheader>

    <section layout="row" layout-align="center"
             ng-show="!bidsLoaded">
      <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>      
    </section>
    
    <md-list ng-show="bidsLoaded">

      <md-list-item ng-if="bids.length==0"
                    layout="column"
                    layout-align="center">
      No Bids :(</md-list-item>

      <md-list-item ng-repeat="bidItem in bids">
      
          <img src="http://placehold.it/350x150" 
               class="md-avatar" />
          <p>{{bidsmapping[bidItem.bid]}}</p>
          
          <md-button ng-if="proxie.owner"
                     class="md-raised md-primary">Accept: {{bidsmapping[bidItem.bid]}}</md-button>
        
      </md-list-item>

    </md-list>


  </section>

</section>