<section layout="column"
         layout-padding>

  <md-card style="margin-left: 20%; margin-right: 20%;">
    <md-card-content>
      <h2>{{proxie.proxie}}</h2>
      <small>{{account.username}}</small>
      <md-divider ></md-divider>
      <p>{{proxie.description}}</p>
    </md-card-content>
  </md-card>


  <section ng-if="proxie.owner && !acceptingBids"
           layout="row"
           layout-align="center center">
  
    <md-button ng-if="!streaming"
               ng-click="startSession()"
               class="md-raised md-primary">Start Session</md-button>
    <md-button ng-if="streaming"
               ng-click="stopSession()"
               class="md-raised md-primary">Stop Session</md-button>
  </section>

  <section ng-show="streaming">
    <md-card style="margin-left: 20%; margin-right: 20%;">
      <md-card-content layout="row">

        <div id="publisherContainer" flex></div>
        <div id="subscribersContainer" flex></div>

      </md-card-content>
    </md-card>

  </section>



  <section ng-if="!proxie.owner && acceptingBids"
           layout="row"
           layout-align="center center">
    
    <md-select placeholder="Bid" ng-model="offeredBid">
        <md-option ng-repeat="(bidChoiceKey, bidChoiceValue) in bidsmapping" value="{{bidChoiceKey}}" ng-click="selectBidChoice(bidChoiceKey)">{{bidChoiceValue}}</md-option>
      </md-select>

    <md-button ng-click="createBid()"
               class="md-raised md-primary">Make a Bid</md-button>
  </section>

  <section ng-show="payFormVisible"
           layout="column"
           layout-align="center center">

    <md-card>
      
      <form id="checkout" method="post" action="http://proxieme-dev.elasticbeanstalk.com/api/v1/braintree/">
        <div id="payment-form"></div>
        <input value="http://16df07c0.ngrok.com/#{{url}}" name="origin" style="display:none;">
        <input value="{{acceptedBid}}" name="amount" style="display:none;">
        <md-button type="submit">Submit</md-button>

      </form>

    </md-card>
  </section>

  <section style="margin-left: 10%; margin-right: 10%;">

    <md-subheader class="md-no-sticky">Bids</md-subheader>

    <section layout="row" layout-align="center"
             ng-show="!bidsLoaded">
      <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>      
    </section>
    
    <md-list ng-show="bidsLoaded">

      <md-list-item ng-if="bids.length==0"
                    layout="column"
                    layout-align="center">
      No Bids :(</md-list-item>

      <md-list-item ng-repeat="bidItem in bids">
      
          <img src="http://placehold.it/350x150"
               ui-sref="account({ pk: bidItem.bidder.id })"
               class="md-avatar"
               style="cursor: pointer;" />
          <p ui-sref="account({ pk: bidItem.bidder.id })" style="cursor: pointer;">{{bidItem.bidder.username}}</p>
          
          <md-button ng-if="!proxie.owner && acceptingBids"
                     class="md-primary">Bid: {{bidsmapping[bidItem.bid]}}</md-button>

          <md-button ng-if="!acceptingBids && bidItem.id == session.bid.id"
                     class="md-primary">Accepted: {{bidsmapping[bidItem.bid]}}</md-button>

          <md-button ng-if="proxie.owner && acceptingBids"
                     ng-click="acceptBid(bidItem.id, proxie.id, bidItem.bidder.id, proxie.account, bidsmapping[bidItem.bid])"
                     class="md-raised md-primary">Accept: {{bidsmapping[bidItem.bid]}}</md-button>
        
      </md-list-item>

    </md-list>


  </section>

</section>